# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Backed files
*.bak

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.pyc
.gitignore
keil_sim/RTE/*
keil_sim/build/*
keil_sim/gui_engine.uvguix.*
gui_engine/rtk_gui_sim/cconfig.h
*.dblite

gui_engine/rtk_gui_sim/gui.bin
gui_engine/rtk_gui_sim/.sconsign.dblite

doc/doxyxml/html
doc/doxyxml/xml
doc/output
doc/build
doc/_build

# editor config
.vscode/
win32_sim/gui.bin

# example
gui_engine/example/screen_480_480/Visual Disigner Prj/480x480/Simulate/
gui_engine/example/screen_480_480/Visual Disigner Prj/480x480/Export/
gui_engine/example/screen_640_360/Simulate/
gui_engine/example/screen_640_360/Export/
