[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
breathe = "*"
myst-parser = "*"
sphinx-notfound-page = "*"
sphinx-rtd-theme = "*"
sphinx-press-theme = "*"
recommonmark = "*"
sphinx-multiversion = "*"
sphinx-copybutton = "*"

[dev-packages]

[requires]
python_version = "*"
