#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Realtek"
            VALUE "FileDescription", "embedded graphical engine developed by Realtek"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "gui.exe"
            VALUE "OriginalFilename", "gui.exe"
            VALUE "ProductName", "Your Product Name"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

IDI_ICON1 ICON "HoneyGUI.ico"